<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;

        }

        input[type=number] {
            -moz-appearance: textfield;
            appearance: textfield;

        }
    </style>
    <title>Loja de Vendas</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Cadastrar Produtos</h1>
                <form action="/cadastrarProdutos" method="POST">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome do produto">
                    </div>
                    <div class="form-group">
                        <label for="valor">Valor Unitário</label>
                        <input class="form-control" type="number" id="valor" name="valor"
                            placeholder="Valor do produto">
                    </div>
                    <div class="form-group">
                        <label for="codBarras">Código de Barras</label>
                        <input class="form-control" type="text" id="codBarras" name="codBarras"
                            placeholder="Código de Barras">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>

            </div>

        </div>

    </div>






    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>